@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #F65314;
    --secondary-color: black;
    --tertiary-color: #8da9bb;
    --dark-color: #E50914;
    --light-color: white;
    --yellow-shade-color: #FF9900;
    --yellow-shade-color2: #ff7b25;
    --green-shade-color1: #7CBB00;
    --green-shade-color2: darkgreen;
    --blue-shade-color1: #4285F4;
    --blue-shade-color2: #003399;
    --pink-shade-color: rgb(231, 64, 92);
    --red-shade-color: #f7786b;
    --cream-shade-color: #ffef96;
    --cream-shade-color2: #8b6f47;
    --button-primary-color1: #e0876a;
    --button-primary-color2: #f4a688;
    --button-floatHover-color: #292F33;
    --card-boxshadow-color: #686256;
    --blur-white-shade-color: rgba(255, 255, 255, 0.5);
    --text-gray-color: gray;

}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
}

.nav-container{
    font-size: 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:3rem;
    color:var(--primary-color);
    height:5rem;
    border-bottom: solid var(--primary-color);
    margin-bottom: 2rem;
}

.nav-logo{
    font-family: "Dancing Script";
    font-size: 5rem ;
    text-shadow:2px 2px 2px var(--yellow-shade-color)
    ;
}

.nav-logo:hover{
    cursor: pointer;
    transform: translateY(2px);
}

.nav-links{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:20%;
    padding:2rem;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    transform: scale(1.1);
    color: var(--primary-color);
}

.fa-github-alt {
    font-size:2.5rem;
}

.sidebar-cmp-heading{
    font-size: 2.5rem;
    padding-bottom: 2rem;
    width:15rem;
    margin-bottom: 2rem;
    border-bottom:solid var(--primary-color);
}

.ul{
    list-style-type:none;
}

.ul li{
    padding: 1rem;
    font-size:2rem;
}

.ul li:hover{
    transform: scale(1.05);
}

.link-active {
    color: var(--primary-color);
}

.sidebar-docs-container {
    display: flex;
    justify-content: space-between;
}

.side-bar {
    min-width: 18rem;
    padding: 0 3rem;
}

.documentation {
    flex-grow: 1;
    padding: 0 2rem 0 3rem;
    border-left: solid var(--primary-color);
    height: auto;
}

.documentation-component-main-heading {
    font-size: 3rem;
}

.component-info {
    font-size: 2rem;
    margin: 2rem 0;
}

.component-examples {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

.code-snippet {
    margin: 4rem auto;
    max-height: 20rem;
    max-width: 150rem;
    overflow: auto;
    border-radius: 1rem;
    background-color: var(--button-floatHover-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.code-snippet::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.code-snippet {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.badges {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

