.home-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text-animation {
    font-family: "Dancing Script";
    margin-top: 15rem;
    font-size: 15rem;
    font-weight: 900;
    background: linear-gradient(to right, #F65314 10%, #65009E 30%, #FF9900 50%, #a70327 70%, #f031f0 90%);
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.home-page-subheading {
    font-size: 4rem;
    padding: 2rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.btn-homepage {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.btn-homepage .btn {
    padding: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    border: solid var(--primary-color)
}

.btn-homepage .btn {
    color: var(--primary-color);
}

.btn-homepage .btn:hover {
    color: var(--primary-color);
    border: solid var(--primary-color);
    transform: scale(1.01);
    cursor: pointer;
}