<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flame UI | Alerts</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./alert.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-header">FLAME UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="./avatar.html">Documentation</a>
            <a href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3 class="sidebar-cmp-heading">Components</h3>
            <ul class="ul">
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a class="link-active" href="#">
                    <li>Alert</li>
                </a>
                <a href="./button.html">
                    <li>Button</li>
                </a>
                <a href="./badge.html">
                    <li>Badge</li>
                </a>
                <a href="./card.html">
                    <li>Card</li>
                </a>
                <a href="#">
                    <li>Image</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
            <h1>ALERT</h1>
            <p class="component-info">An alert displays a short, important message in a way that attracts the user's attention without interrupting the user's task.Alerts can be created using alert class, followed by the variant name.
            </p>
            <div class="component-examples">
                <div class="alerts">
                    <div class="alert primary-alert">This is primary alert !!!</div>
                    <div class="alert error-alert">This is error alert !!!</div>
                    <div class="alert success-alert">This is success alert !!!</div>
                    <div class="alert warning-alert">This is warning alert !!!</div>
                </div>
            </div>
                <div class="code-snippet"><script src="https://gist.github.com/j24m/67e1f9c4d591a89f5c23e30160e1bd79.js"></script></div>
            
        </div>

</body>

</html>