.alerts{
    padding: 1rem;
}
.alert{
    margin:1rem;
    padding:1.5rem;
    font-weight: 700;
    border-radius: 0.5rem;
    width:50rem;
    font-size:1.5rem;
}
.primary-alert{
 background-color: var(--blue-shade-color1);
 border-bottom: solid var(--blue-shade-color2);
}
.error-alert{
    background-color:var(--red-shade-color);
    border-bottom:solid var(--dark-color);
}
.success-alert{
    background-color: var(--green-shade-color1);
    border-bottom:solid var(--green-shade-color2);
}
.warning-alert{
    background-color: var(--yellow-shade-color);
    border-bottom:solid var(--yellow-shade-color2);
}