.alerts{
    padding: 1rem;
}
.alert{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:1rem;
    margin:1rem;
    padding:1rem;
    font-weight: 700;
    border-radius: 5px;
    width:50rem;
    font-size:1.5rem;
}

.alert .bi{
    font-size: 2rem;
    font-weight:bold;
}

.alert-info{
    border:solid var(--blue-shade-color2);
    color: var(--blue-shade-color2);
}
.alert-error{
    border: solid var(--dark-color);
    color: var(--dark-color);
}
.alert-success{
    border:solid var(--green-shade-color2);
    color: var(--green-shade-color2);
}
.alert-warning{
    border:solid var(--yellow-shade-color);
    color: var(--yellow-shade-color);
}