<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flame UI | Avatars</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./avatar.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-header">FLAME UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="#">Documentation</a>
            <a  href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3 class="sidebar-cmp-heading">Components</h3>
            <ul class="ul">
                <a class="link-active" href="#">
                    <li>Avatar</li>
                </a>
                <a  href="./alert.html">
                    <li>Alert</li>
                </a>
                <a  href="./button.html">
                    <li>Button</li>
                </a>
                <a  href="./badge.html">
                    <li>Badge</li>
                </a>
                <a  href="./card.html">
                    <li>Card</li>
                </a>
                <a  href="./image.html">
                    <li>Image</li>
                </a>
                <a  href="./input.html">
                    <li>Input</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
                <h1>AVATAR</h1>
                <p class="component-info">Avatars are user profile pictures, usually found in circular shapes. Avatars can be used for 'container' objects — projects, spaces, repositories, etcetera — to give them a recognisable visual identity.
                </p>
                <div class="component-examples">
                    <div class="avatar avatar-xx-lg">
                        <img src="../Images/pingu.jpg" alt="penguin-w-headphones">
                    </div>
                    <div class="avatar avatar-x-lg">
                        <img src="../Images/pingu.jpg" alt="penguin-w-headphones">
                    </div>
                    <div class="avatar avatar-lg">
                        <img src="../Images/pingu.jpg" alt="penguin-w-headphones">
                    </div>
                    <div class="avatar avatar-md">
                        <img src="../Images/pingu.jpg" alt="penguin-w-headphones">
                    </div>
                    <div class="avatar avatar-sm">
                        <img src="../Images/pingu.jpg" alt="penguin-w-headphones">
                    </div>
                    
                </div>
                <div class="code-snippet"><script src="https://gist.github.com/j24m/f4d71ff846b112278151aa9017884abb.js"></script></div>
                
        </div>
    </div>

</body>

</html>