.img-responsive{
    border-radius: 50%;
    width:9rem;
    height: 9rem;
    object-fit: cover;
}
.parent{
    position:relative;
}
.common-badge-status{
    font-size:2rem;
    position:absolute;
}
.badge-status-activeAndidle{
    padding:0.3rem;
    bottom:0;
    left:6rem;
    color: var(--green-shade-color2)
}
.badge-status-idle{
    color: var(--yellow-shade-color2)
}
.icon-cart{
    font-size:3rem;
}
.cart-badge{
    font-size: 2rem;
    top:-1rem;
    right:-1rem;
    color:var(--dark-color);
}
.badge-number{
    position:absolute;
    top:2px;
    right:0.9px;
    font-size: 1.5rem;
    color: var(--light-color);
    text-align: center;
}


