<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flame UI | Badge</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./badge.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-header">FLAME UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="./avatar.html">Documentation</a>
            <a href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3>Components</h3>
            <ul class="ul">
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="./alert.html">
                    <li>Alert</li>
                </a>
                <a href="./button.html">
                    <li>Button</li>
                </a>
                <a class="link-active" href="#">
                    <li>Badge</li>
                </a>
                <a href="./card.html">
                    <li>Card</li>
                </a>
                <a href="./image.html">
                    <li>Image</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
            <h1>BADGE</h1>
            <p class="component-info">Badges are small circles, positioned either at top-right or bottom-right of the parent component. Badge can be used to display numbers, online / offline status, depending on where they are used.
            </p>
            <div class="component-examples">
                <div class="badges">
                    <div class="parent">
                        <img class="img-responsive img1" src="../Images/pingu.jpg" alt="penguin-w-headphones">
                        <i class="common-badge-status badge-status-activeAndidle fas fa-circle"></i>
                    </div>
                    <div class="parent">
                        <img class="img-responsive img2" src="../Images/pingu.jpg" alt="penguin-w-headphones">
                        <i class="common-badge-status badge-status-idle badge-status-activeAndidle fas fa-circle"></i>
                    </div>
                    <div class=" parent">
                        <i class="icon-cart fas fa-shopping-cart"></i>
                        <i class="common-badge-status cart-badge fas fa-circle"><span class="common-badge-status cart-badge badge-number">9+</span></i>
                    </div>
                </div>
            </div>
            <div class="code-snippet"><script src="https://gist.github.com/j24m/7ca99e6412c73ebacf6cfc32feacceac.js"></script></div>
        </div>
    </div>

</body>

</html>