.badge-container .avatar {
    position: relative;
}

.badge {
    position: absolute;
    border: solid var(--light-color);
    border-radius: 50%;
}

.badge-active {
    bottom: 0.5rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--green-shade-color2);
}

.badge-dnd {
    bottom: 0;
    right: 0.5rem;
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--dark-color);
}

.badge-idle {
    bottom: 0;
    right: 0.4rem;
    height: 1rem;
    width: 1rem;
    background-color: var(--yellow-shade-color2);
}

.badge-on-icon {
    position: relative;
    padding: 1rem;

}

.bi-whatsapp {
    color: var(--green-shade-color2);
}

.bi-envelope-fill {
    color: var(--blue-shade-color1);
}

.badge-container .bi {
    font-size: 3rem;
}

.badge-icon {
    border:none;
    position: absolute;
    padding:2px;
    text-align: center;
    font-size: 13.9px;
    color: var(--light-color);
    background-color: var(--dark-color);
    height: 2rem;
    width: 2rem;
    top:0rem;
    right:-3px;
}