<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flame UI | Button</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./button.css">
    <link rel="stylesheet" href="../components.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-logo">Flame UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="./avatar.html">Documentation</a>
            <a href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3 class="sidebar-cmp-heading">Components</h3>
            <ul class="ul">
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="./alert.html">
                    <li>Alert</li>
                </a>
                <a class="link-active" href="#">
                    <li>Button</li>
                </a>
                <a href="./badge.html">
                    <li>Badge</li>
                </a>
                <a href="./card.html">
                    <li>Card</li>
                </a>
                <a href="./image.html">
                    <li>Image</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
                <a href="./list.html">
                    <li>List</li>
                </a>
                <a href="./navigation.html">
                    <li>Navigation</li>
                </a>
                <a href="./text-utility.html">
                    <li>Text-Utility</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
            <h1 class="documentation-component-main-heading">BUTTON</h1>
            <p class="component-info">Buttons are the soul of an interactive Web Application. Buttons allow users to take
                actions, and make choices, with a single tap.
                <strong>Contained buttons</strong> are high-emphasis, distinguished by their use of elevation and fill.
                They contain actions that are primary to your app.In need of a button, but not the hefty background
                colors <strong>Outlined buttons</strong> bring? Replace '.btn-variant' with '.outline-variant'.
                <strong>Icon Buttons</strong> can be created, by using a SVG as a child to parent button. Use the 'btn'
                class followed by 'btn-icon'.
            </p>
            <div class="component-examples">
                <div class="buttons">
                    <button class="btn btn-default">DEFAULT</button>
                    <button class="btn btn-primary">PRIMARY</button>
                    <button class="btn btn-secondary">SECONDARY</button>
                    <button class="btn btn-icon-label"><i class="far fa-bookmark"><span
                                class="bookmark-label">Bookmark</span></i></button>
                    <button class="btn btn-icon"><i class="btn-icons fas fa-camera"></i></button>
                    <button class="btn btn-icon"><i class="btn-icons fas fa-plus"></i></button>
                </div>
            </div>
            <div class="code-snippet"><script src="https://gist.github.com/j24m/2a674b507b4b0c2f6e96ae658e8e9004.js"></script></div>
        </div>

</body>

</html>