<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flame UI | Card</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./card.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-header">FLAME UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="./avatar.html">Documentation</a>
            <a href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3 class="sidebar-cmp-heading">Components</h3>
            <ul class="ul">
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="./alert.html">
                    <li>Alert</li>
                </a>
                <a href="./button.html">
                    <li>Button</li>
                </a>
                <a href="./badge.html">
                    <li>Badge</li>
                </a>
                <a class="link-active" href="#">
                    <li>Card</li>
                </a>
                <a href="./image.html">
                    <li>Image</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
                <a href="./list.html">
                    <li>List</li>
                </a>
                <a href="./navigation.html">
                    <li>Navigation</li>
                </a>
                <a href="./text-utility.html">
                    <li>Text-Utility</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
            <h1>CARD</h1>
            <p class="component-info">Cards are surfaces that display content and actions on a single topic.

                They should be easy to scan for relevant and actionable information. Elements, like text and images,
                should be placed on them in a way that clearly indicates hierarchy.
            </p>
            <h2 class="component-info">
                Simple and Image Cards
            </h2>
            <div class="component-examples">
                <div class="card">
                    <div class="dismiss-badge">x</div>
                    <h1 class="card-heading">Superman</h1>
                    <p class="card-description">Faster than a speeding bullet, more powerful than a locomotive… The Man
                        of Steel fights a never-ending battle for truth, justice, and the American way.</p>
                </div>
                <div class="card">
                    <div class="card-img-container">
                        <img class="catwoman-powerpuffgirls-img" src="../Images/batwoman.jpg" alt="Cat-woman">
                    </div>
                    <h1 class="card-heading">BatWoman</h1>
                    <p class="card-description">Batwoman is a Gotham City burglar who typically wears a tight, one-piece
                        outfit and uses a bullwhip for a weapon. She was originally characterized as a supervillain and
                        adversary of Batman.</p>
                </div>
                <div class="card">
                    <h1 class="card-heading">PowerPuffGirls</h1>
                    <div class="card-img-container">
                        <img class="catwoman-powerpuffgirls-img" src="../Images/powerpuffgirls.jpg" alt="power-puff-girls">
                    </div>
                        <p class="card-description">The PowerPuffgirls all live in the fictional city of Townsville with
                            their father and creator, a scientist named Professor Utonium, and are frequently called
                            upon by the city's mayor to help fight nearby criminals and other enemies using their
                            powers.</p>
                    
                </div>
            </div>
            <h2 class="component-info">E-commerce Cards</h2>
            <div class="component-examples">
                <div class="e-commerce-card">
                    <div class="badge-on-card">
                        In stock
                    </div>
                    <div class="mech-keyboard-img-container">
                        <img class="mech-keyboard-img"
                            src="../Images/multicolor-keyboard.jpg"
                            alt="multicolor-mechanical-keyboard">
                    </div>
                    <div class="ecom-card-info">
                        <h1 class="keyboard-name-heading">Fiodio Mechanical Gaming Keyboard</h1>
                        <div class="rate-review">
                            <div class="rate">4.3<strong>✰</strong></div>
                            <div class="review">1.2k reviews</div>
                        </div>
                        <div class="keyboard-prices">
                            <div class="discount-price">
                                ₹2499
                            </div>
                            <div class="total-price">
                                <s>₹3999</s>
                            </div>
                        </div>
                        <div class="btn-add2cart-buynow">
                            <button class="btn btn-add-to-cart">Add to cart</button>
                            <button class="btn btn-buy-now">Buy now</button>
                        </div>

                    </div>
                </div>
                

                <div class="out-of-stock-card e-commerce-card">
                    <div class="disable-card">
                        <h3 class="outofstock-badge">Out Of Stock</h3>
                    </div>
                    <div class="mech-keyboard-img-container">
                        <img class="mech-keyboard-img"
                            src="../Images/blackkeyboard.jpg"
                            alt="black-mechanical-keyboard">
                    </div>
                    <div class="ecom-card-info">
                        <h1 class="keyboard-name-heading">NPET K63 2.4G Wireless Mechanical Keyboard</h1>
                        <div class="rate-review">
                            <div class="rate">4.0<strong>✰</strong></div>
                            <div class="review">1k reviews</div>
                        </div>
                        <div class="keyboard-prices">
                            <div class="discount-price">
                                ₹1799
                            </div>
                            <div class="total-price">
                                <s>₹2459</s>
                            </div>
                        </div>
                        <div class="btn-add2cart-buynow">
                            <button class="btn btn-add-to-cart">Add to cart</button>
                            <button class="btn btn-buy-now">Buy now</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>