/* Simple and Image Cards */
.card {
    position: relative;
    background-color: var(--light-color);
    border: 1px solid var(--button-floatHover-color);
    width: 30rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px var(--card-boxshadow-color);
}

.dismiss-badge {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    background-color: var(--card-boxshadow-color);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    padding: 1px;
    font-size: 1.8rem;
    color: var(--light-color);
}

.dismiss-badge:hover {
    background-color: var(--button-floatHover-color);
    cursor: pointer;
    transition: 0.5s;
}

.card-heading {
    padding: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    font-size: 3rem;
}

.card-description {
    font-weight: 400;
    color: var(--button-floatHover-color);
    padding: 1rem;
    line-height: 2rem;
    font-size: 1.6rem;
}

.catwoman-powerpuffgirls-img {
    width: 100%;
    object-fit: cover;
    max-inline-size: 100%;
    object-position: center;
    block-size: auto;
}

/* E-commerce Vertical Cards */

.e-commerce-card,
.out-of-stock-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid var(--button-floatHover-color);
    width: 30rem;
    height: 40rem;
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--light-color);
    box-shadow: 2px 2px 5px 2px var(--card-boxshadow-color);
    padding: 1rem;
}

.badge-on-card {
    position: absolute;
    width: 25%;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-weight: 500;
    top: 0;
    right: 0;
    font-size: 1.6rem;
    padding: 1rem;
}

.mech-keyboard-img-container {
    padding: 1rem;
    width: 100%;
    height: 20rem;
}

.mech-keyboard-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.keyboard-name-heading {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.rate-review {
    display: flex;
    gap: 1rem;
    align-items: baseline;
    margin-bottom: 1rem;
    font-weight: 400;
}

.rate {
    font-size: 1.5rem;
}

.star-symbol {
    font-size: 1.7rem;
    color: var(--yellow-shade-color);
}

.review {
    font-size: 1.2rem;
}

.keyboard-prices {
    font-size: 1.6rem;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.total-price {
    font-size: 1.4rem;
}

.icon-wishlist {
    width: 50%;
    text-align: right;
    font-size: 2rem;
    margin-left: 2rem;
}

.icon-wishlist-link {
    text-decoration: none;
    color: var(--dark-color);
}

.icon-wishlist-link .fa-heart {
    border-radius: 50%;
    border: 2px solid var(--tertiary-color);
    padding: 1rem;
    transition: 1s ease-in-out;
}

.icon-wishlist-link .fa-heart:hover {
    transform: rotate(360deg);
}

.e-commerce-card .buttons .btn,
.horizontal-card .buttons .btn {
    width: 100%;
}

.disable-card {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--blur-white-shade-color);
}

.outofstock-badge {
    position: absolute;
    font-size: 2rem;
    background-color: var(--tertiary-color);
    padding: 1rem;
    top: 0;
    left: -1rem;
}

/* E-commerce Horizontal Cards */

.horizontal-card {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--button-floatHover-color);
    border-radius: 5px;
    height: 20rem;
    width: 50%;
    padding: 2rem;
    gap: 1rem;
    box-shadow: 2px 2px 5px 2px var(--card-boxshadow-color);
}

.horizontal-card .card-img-container {
    width: 25rem;
    height: 100%;
}

.horizontal-card .card-img-container img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    max-inline-size: 100%;
}

.horizontal-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

.horizontal-card .buttons {
    width: 100%;
    display: flex;
}