<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flame UI | Image</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./image.css">
    <link rel="stylesheet" href="../components.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-logo">Flame UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="./avatar.html">Documentation</a>
            <a href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3 class="sidebar-cmp-heading">Components</h3>
            <ul class="ul">
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="./alert.html">
                    <li>Alert</li>
                </a>
                <a href="./button.html">
                    <li>Button</li>
                </a>
                <a href="./badge.html">
                    <li>Badge</li>
                </a>
                <a href="./card.html">
                    <li>Card</li>
                </a>
                <a class="link-active" href="#">
                    <li>Image</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
                <a href="./list.html">
                    <li>List</li>
                </a>
                <a href="./navigation.html">
                    <li>Navigation</li>
                </a>
                <a href="./text-utility.html">
                    <li>Text-Utility</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
                <h1 class="documentation-component-main-heading">IMAGE</h1>
                <p class="component-info">Inputs are necessary for user interaction with the website. Inputs are used to take information from the user, and then save the data to the server, accordingly.
                </p>
                <h2 class="component-info">Square Image & Round Image</h2>
                <div class="component-examples">
                <img src="../Images/Image1.jpg" class="round-square-img" alt="forest-trees">
                <img src="../Images/Image2.jpg" class="round-img round-square-img" alt="Girl's-legs-with-boots-on-road">
                </div>
                <h2 class="component-info">Responsive Image</h2>
                <div class="component-examples">
                <div class=responsive-img-container>
                    <img src="../Images/Image3.jpg" class="responsive-img" alt="balcony-view-of-street">
                </div>
            </div>
            <div class="code-snippet"><script src="https://gist.github.com/j24m/e05ffbe87c062ec22776b4e587f2da48.js"></script></div>
                    
        </div>
    </div>

</body>

</html>