<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./input.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-header">FLAME UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="./avatar.html">Documentation</a>
            <a href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3>Components</h3>
            <ul class="ul">
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="./alert.html">
                    <li>Alerts</li>
                </a>
                <a href="./button.html">
                    <li>Buttons</li>
                </a>
                <a href="./badge.html">
                    <li>Badge</li>
                </a>
                <a href="./card.html">
                    <li>Card</li>
                </a>
                <a href="./image.html">
                    <li>Image</li>
                </a>
                <a class="link-active" href="#">
                    <li>Input</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
                <h1>INPUT</h1>
                <p class="p-utility">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam qui commodi consequatur saepe dolorem itaque delectus modi laborum omnis minima! Amet ipsa aliquam non labore rerum quibusdam voluptatem natus nostrum.
                </p>
                <div class="component-examples">
                    
        </div>
    </div>

</body>

</html>