.input-container{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.8rem;
    gap:3rem;
    justify-content: center;
    align-items:baseline;
}

.input-label{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.input-container input{
    padding:1rem;
    width:20rem;
    border-radius: 0.5rem;
    border:1px solid var(--secondary-color);
}

.input-container input:focus{
    border: 3px solid var(--secondary-color);
}

.input-label [for|="password"],.input-label [type|="password"]{
    color:var(--dark-color);
}






