.unordered-ordered-lists{
    color: var(--light-color);
    font-size: 2rem;
    margin:5rem;
    font-family: monospace;
    font-weight: 900;
}

.notif-each{
    width:80rem;
    margin: 1rem;
    background-color: var(--light-color);
    border-radius:0.5rem; 
    padding:1rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;
    box-shadow:0.4rem 0.2rem 0.5rem var(--card-boxshadow-color);
}
.icon-heading-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap:1rem;
}
.notif-heading{
    font-size:1.8rem;
}
.icon-text{
    color:var(--card-boxshadow-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}
.notif-icon{
    color: var(--button-floatHover-color);
}
