<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flame UI | Navigation</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../components.css">
    <link rel="stylesheet" href="./navigation.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-logo">Flame UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="./avatar.html">Documentation</a>
            <a href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3 class="sidebar-cmp-heading">Components</h3>
            <ul class="ul">
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="./alert.html">
                    <li>Alert</li>
                </a>
                <a href="./button.html">
                    <li>Button</li>
                </a>
                <a href="./badge.html">
                    <li>Badge</li>
                </a>
                <a href="./card.html">
                    <li>Card</li>
                </a>
                <a href="./image.html">
                    <li>Image</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
                <a href="./list.html">
                    <li>List</li>
                </a>
                <a class="link-active" href="#">
                    <li>Navigation</li>
                </a>
                <a href="./text-utility.html">
                    <li>Text-Utility</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
            <h1 class="documentation-component-main-heading">Navigation</h1>
            <p class="component-info">
                Navigation bar is used to navigate through the web apps or websites. This navigation component is
                responsive. It is a hamburger menu in medium and small devices.
            </p>
            <p class="component-info">
                <ul class="component-info">
                    <p class="component-info">USES:<br><strong>1.</strong> Burger section- to show hamburger in M,S,XS
                        devices, it will be hidden on L, XL devices</p>
                    <p class="component-info"><strong>2.</strong> Brand logo- It will be displayed in L,XL devices and
                        hidden on M,S,XS devices</p>
                    <p class="component-info"><strong>3.</strong> Brand title- It will be displayed in M,S,XS devices
                        and hidden on L,XL devices</p>
                    <p class="component-info"><strong>4.</strong> Search bar. <br> <strong>etc..</strong> </p>
                </ul>

            </p>
            <div class="component-examples">
                <div class="navigation">
                    <div class="left-of-nav">
                        <div class="navigation-logo">Flame</div>
                        <a href="#" class="navigation-links nav-home-shopnow-icons">Home</a>
                        <a href="#" class="navigation-links nav-home-shopnow-icons">Shop Now</a>    
                    </div>
                    
                    <div class="right-of-nav">
                        <input class="nav-searchbar" placeholder="🔍search" type="text">
                        <a class="navigation-links" href="#"><i class="nav-home-shopnow-icons fas fa-heart"></i></a>
                        <a class="navigation-links" href="#"><i class="nav-home-shopnow-icons fas fa-shopping-bag"></i></a>
                    </div>
                </div>
            </div>
            <div class="code-snippet"><script src="https://gist.github.com/j24m/cf119484bbf05efc525796152814001d.js"></script></div>
        </div>

</body>

</html>