
.nav-bar {
    background-color:var(--secondary-color);
    width: 100%;
    display: flex;
    padding: 3rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.homepage-nav-links {
    text-decoration: none;
    color: var(--light-color);
    font-size: 2rem;
    font-weight: 500;
}

.homepage-nav-links:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 5px var(--secondary-color);
}

.homepage-nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 4rem;
    font-family: "Dancing Script";
    font-weight: 700;
}

.homepage-nav-logo:hover {
    transform: scale(1.001);
    text-shadow: 2px 2px 5px var(--secondary-color);
}

.nav-bar-right-side {
    display: flex;
    padding: 1rem;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}

.input-field-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    gap: 1rem;
    border: solid var(--light-color);
    border-radius: 0.5rem;
}

.input-field-icon input {
    border: none;
    color: var(--light-color);
    outline: none;
    padding: 0.8rem;
    font-size: inherit;
    background: transparent;
    border-radius: 0.5rem;
}

/* input placeholder color */
.input-field-icon input::placeholder {
    color: var(--light-color);
    font-weight: bold;
}

/* search icon styling*/
.bi-search {
    color: var(--light-color);
    font-size: 2rem;
    padding: 0.6rem;
}