.star-widget {
    display: flex;
    gap: 1rem;
}

.star-widget input{
    display:none;
}

.star-widget label{
    font-size: 3rem;
    color: var(--text-gray-color);
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover, input:not(:checked) ~ label:hover {
    color:var(--yellow-shade-color1);
} 

input:checked ~ label {
    color:var(--yellow-shade-color1);
}
input#rate-5:checked ~ label {
    color: var(--yellow-shade-color3);
    text-shadow:0 0 20px var(--star-rating-text-shadow-color);
}









