<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flame UI | Input</title>
    <script src="https://kit.fontawesome.com/d3026d29a6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../gist.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="./text-utility.css">
</head>

<body>
    <div class="nav-container">
        <h1 class="nav-header">FLAME UI</h1>
        <div class="nav-links">
            <a href="../index.html">Home</a>
            <a class="link-active" href="./avatar.html">Documentation</a>
            <a href="https://github.com/j24m"><i class="fab fa-github-alt"></i></a>
        </div>
    </div>

    <div class="sidebar-docs-container">
        <div class="side-bar">
            <h3 class="sidebar-cmp-heading">Components</h3>
            <ul class="ul">
                <a href="./avatar.html">
                    <li>Avatar</li>
                </a>
                <a href="./alert.html">
                    <li>Alert</li>
                </a>
                <a href="./button.html">
                    <li>Button</li>
                </a>
                <a href="./badge.html">
                    <li>Badge</li>
                </a>
                <a href="./card.html">
                    <li>Card</li>
                </a>
                <a href="./image.html">
                    <li>Image</li>
                </a>
                <a href="./input.html">
                    <li>Input</li>
                </a>
                <a href="./list.html">
                    <li>List</li>
                </a>
                <a href="./navigation.html">
                    <li>Navigation</li>
                </a>
                <a class="link-active" href="#">
                    <li>Text-Utility</li>
                </a>
            </ul>
        </div>
        <div class="documentation">
                <h1>Text-Utility</h1>
                <h2 class="component-info">Heading</h2>
                <div class="component-examples">
                    <div class="heading-utility">
                    <h1>Main Heading</h1>
                    <h2>Topic Heading</h2>
                    <h3>Sub Heading</h3>
                    </div>
                </div>
                <h2 class="component-info">Small text</h2>
                <div class="component-examples">
                    <div class="small-textutility">
                    <p class="small-txt">Small text paragraph</p>
                    <small class="small-txt">Small text default.</small>
                    <p class="grey-text">This is gray text</p>
                    <p class="center-text">This is center text.</p>
                    </div>    

                </div>
                <div class="code-snippet"><script src="https://gist.github.com/j24m/55aa4f7d5b6437f97010575f38830aef.js"></script></div>
        </div>

</body>

</html>